<div>
    <p class="view-loading">Loading...</p>
    <!--<div class="table-responsive">
        <table class="table table-striped table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
            </thead>


            <tbody class="data-container">
                <tr>
                    <td class="view-data-property"></td>
                    <td><pre class="view-data-value"> </pre></td>
                </tr>
            </tbody>
        </table>
    </div>-->
    <div class="data-container panel-group">
        <div class="panel panel-default">
            <p class="view-data-property panel-heading"></p>
            <pre class="view-data-value"></pre>
        </div>
    </div>
</div>